* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: #6f07f6;
  color: #fff;
}
.logo {
  font-size: 3rem;
}
.container {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3rem;
}
.sideLogo {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.sideLogo ul {
  display: flex;
  list-style: none;
  gap: 0.7rem;
  font-size: 1.8rem;
}
.sideLogo ul li {
  cursor: pointer;
  height: 35px;
  padding: 0.5rem 1rem;
  /* width: 100px; */
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  transition: 0.5s all ease-in-out;
  &:hover {
    background-color: #fff;
    color: #000;
    transition: 0.5s all ease-in-out;
  }
}
button {
  font-family: Roboto;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 1em 2em;
  border: none;
  border-radius: 0.6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  font-size: 1.4rem;

  &:hover {
    color: white;
  }
  &:active {
    scale: 0.9;
  }
}

button span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #0ca9edc0;
  border-radius: 50%;
  transition: 0.6s ease;
}

button span:nth-child(6) {
  position: relative;
}

button span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

button span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

button span:nth-child(3) {
  transform: translate(-0.2em, 1.8em);
}

button span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

button span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

button:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}

.email {
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
}
#checkbox {
  display: none;
}
#full {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.Hamburger {
  display: none;
}
.toggle {
  z-index: 200;
  position: relative;
  width: 33px;
  height: 28px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 6px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 3px;
  background-color: rgb(92, 130, 255);
  border-radius: 4px;
}

#bar2 {
  transition-duration: 0.8s;
}

#bar1 {
  width: 50%;
}

#bar2 {
  width: 75%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.1s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .Hamburger {
    display: block;
  }
  .sideLogo ul li {
    display: none;
  }
}
