.main {
  height: 450px;
  width: 550px;
  margin-left: 9rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  height: 50%;
  width: 100%;
}
.buttom {
  line-height: 38px;
  font-size: 32px;
  margin: 0.2rem;
}
.hii {
  font-size: 28px;
  margin: 0.2rem;
}
.content h2 {
  line-height: 76px;
  font-size: 64px;
  margin: 0.2rem;
  padding: 0.5rem;
  text-wrap: nowrap;
}
.second {
  height: 500px;
  width: 700px;
  color: #fff;
  /* background-color: red; */
}
.second img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.full {
  width: 100%;
  margin-top: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.abouth {
  height: 60px;
  width: 100%;
  background-color: #eee3e3a7;
  display: flex;
  align-items: center;
  margin: 1rem auto;
  border-radius: 10px;
}
.abouth h2 {
  margin: 0 5rem;
}
.animated-div {
  background-color: #6f07f6;
  color: #fff;
  height: 300px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 1rem;
  /* margin-top: 1rem; */
}
.icona {
  font-size: 30px;
}
.aboutImg {
  height: 100%;
  width: 35%;
}
.aboutImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.aboutContent {
  height: 70%;
  width: 55%;
  margin: 0 auto;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.aboutContent p {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #333;
}

@media (max-width: 768px) {
  .full {
    flex-direction: column;
  }
  .second {
    margin-top: 1.5rem;
    height: 300px;
    width: 100%;
  }
  .main {
    height: 230px;
    width: 89%;
    margin-left: 2rem;
  }
  .content h2 {
    line-height: 46px;
    font-size: 40px;
    margin: 1rem;
    padding: 0.2rem;
  }
  .buttom {
    line-height: 38px;
    font-size: 23px;
    margin: 1rem;
  }
  .hii {
    font-size: 20px;
    margin: 1rem;
  }
  .animated-div {
    background-color: #6f07f6;
    color: #fff;
    height: 580px;
    flex-direction: column;
    padding: 1rem;
    margin-top: 1rem;
  }
  .aboutImg {
    height: 100%;
    width: 75%;
    border-radius: 50%;
  }
  .aboutImg img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  .aboutContent {
    width: 90%;
    background-color: #f7f7f7;
  }
  .icona {
    font-size: 20px;
  }
  .abouth {
    height: 60px;
  }
  .abouth h2 {
    margin: 0 3rem;
  }
}
.aboutme {
  height: 400px;
  width: 100%;
  background-color: red;
}
