.main {
  height: 450px;
  width: 550px;
  margin: 3rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  height: 50%;
  width: 100%;
}
.buttom {
  line-height: 38px;
  font-size: 32px;
  margin: 0.2rem;
}
.hii {
  font-size: 28px;
  margin: 0.2rem;
}
.content h2 {
  line-height: 76px;
  font-size: 64px;
  margin: 0.2rem;
  padding: 0.5rem;
  text-wrap: nowrap;
}
.second {
  height: 450px;
  width: 700px;
  color: #fff;
}
.second img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.full {
  width: 100%;
  margin-top: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
