@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{margin:0;
padding:0;
box-sizing:border-box ;}

html,body{
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;

  @media (max-width: 768px) {
    font-size:50%;
  }
  @media (max-width: 450px) {
    font-size:40%;
  }
}
body{
  font-size: 1.6rem;
}*{margin:0;
padding:0;
box-sizing:border-box ;}

html,body{
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;

  @media (max-width: 768px) {
    font-size:50%;
  }
  @media (max-width: 450px) {
    font-size:40%;
  }
}
body{
  font-size: 1.6rem;
}